.cone {
  height: 0;
  width: 0;
  border-top: 140px solid #c6975f;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  margin-top: 25px;
}

.ice_cream {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  min-height: 632px;
}

.cherry {
  width: 50px;
  height: 77px;
  background: url(../../assets/images/cherry.png) center/cover no-repeat;
  margin-bottom: -10px;
  z-index: 1;
}
